@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1e293b;
    --foreground: 210 40% 98%;

    --muted: #94a3b8;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: #1e293b;
    --popover-foreground: 210 40% 98%;

    --card: #1e293b;
    --card-foreground: 210 40% 98%;

    --border: #475569;
    --input: #475569;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: #f87171;
    --accent-foreground: 210 40% 98%;

    --destructive: #f43f5e;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: #475569;

    --radius: 0.5rem;

    --header-height: 3.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
